body {
    font-family: 'Inter', sans-serif;
    left: 62px;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*margin: 115px 0 0 52px;*/
}
main {
    width: 550px;
    background: #ECFDF5;

}
h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 100%;
    color: #2B283A;
    margin-bottom: 10px;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #6B7280;
    margin: 0 0 51px 0;
}

button {
    background: #10B981;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    border: none;
    border-radius: 6px;
    margin-bottom: 35px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

hr {
    width: 446px;
    height: 0px;
    border: 1px solid #D5D4D8; 
    margin: 0 0 0 0;
}

.display-area {
    width: 211px;
    height: 39px;
    background: #273549;
    margin-top: 35px;
}

#button-3 {
    margin-left: 24px;
}